<div class="modal-header d-block d-md-none">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="card bg-light">
        <img src="images/coach-team-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Лапчевська Діана Олександрівна - засновник та керівник студії «Dance for life»</h5>
            <p>
                Професійних підхід та любов до своєї справи та дітей дарують блискучий результат вихованців та розвиток
                студії. Закохує діток у танець раз і назавжди!
            </p>
            <p class="card-text ">
            <h6>Напрями:</h6>
            <p class="m-0">
                ⭐️Сучасна та класична хореографія
                ⭐️Дитяча хореографія
                ⭐️ Естрадно- спортивна хореографія
                ⭐️Акробатика
                ⭐️ Постановка весільного танцю та випускних.
                ⭐️ Постановка танців різних стилів та флешмобів.
                ⭐️ Zumba fitness
            </p>
            <p>
            <h6>Освіта:</h6>
            <ul>
                <li>- Закінчила Київський Національний Університет Культури і Мистецтв, факультет режисури і
                    хореографії.
                </li>
                <li>- Вінницький державний педагогічний університет ім. Михайла Коцюбинского, спеціальність "Фізичне
                    виховання і спорт".</li>
                <li>-Хореограф, балетмейстер з багаторічним досвідом викладання в Україні та за кордоном.</li>
                <li>-Учасниця телевізійного проекту "Танцюють усі", увійшла в ТОП 20 найкращих танцюристів України.</li>
                <li>-Учасниця зйомок кліпів естрадних зірок та телевізійних програм.</li>
                <li>-Офіційний ліцензований інструктор дорослих та дитячих танцювальних програм. Ведуча танцювальних
                    Майстер
                    Класів.</li>
            </ul>
            </p>
            <h6>Досягнення:</h6>
            <p class="m-0">
                Майстер спорту по художній гімнастиці. Багаторазова чемпіонка України.
            </p>
            </p>
        </div>
    </div>
</div>