<div class="modal-header d-block d-md-none">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="card bg-light">
        <img src="images/coach-team-3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Дяченко Кароліна Вадимівна</h5>
            <p>
                Працьовита, енергійна, цілеспрямована, віддана своїй роботі, легко знайде підхід до дітей будь-якого
                віку.
            </p>
            <p class="card-text ">
            <h6>Напрями:</h6>
            <p class="m-0">⭐️Baby dance
                ⭐️Acro dance
                ⭐️Силовий stretching
                ⭐️Pilates
                ⭐️Індивідуальні тренування</p>
            <p>
            <h6>Досвід роботи один рік:</h6>
            <ul>
                <li>- Групи початкової підготовки (3-6 років)</li>
                <li>- Групи базової підготовки (8-12 років)</li>
                <li>- Групи дорослої групи 16+</li>
            </ul>
            </p>
            <p>
            <h6>Освіта:</h6>
            <ul>
                <li>- Київський обласний ліцей фізичної культури і спорту</li>
                <li>- Національний університет фізичного виховання і спорту України, м. Київ</li>
            </ul>
            </p>
            <h6>Досягнення:</h6>
            <p class="m-0">
            <ul>
                <li>- Майстер спорту України з художньої гімнастики</li>
                <li>- Перебувала в резерві національної збірної України у 2020 році</li>
                <li>- Чемпіонка України в індивідуальній першості з 2015-2018 року за програмою КМС</li>
                <li>- Чемпіонка та призер України в індивідуальній першості з 2019-2021 року за програмою МС</li>
                <li>- Срібний та бронзовий призер чемпіонату України у груповій вправі 2019; 2021; 2022 року</li>
                <li>- Переможець та призер міжнародних турнірів (Польща, Ізраїль, Іспанія, Білорусь, Туреччина) та
                    багатьох
                    всеукраїнських турнірів</li>
                <li>- Переможець Deriugina Cup – 2017 у вправі з м'ячем</li>
            </ul>
            </p>
            </p>
        </div>
    </div>
</div>