<div class="modal-header d-block d-md-none">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="card bg-light">
        <img src="images/coach-team-2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Малініна Олена Валеріївна</h5>
            <p>
                Відповідальна та професійна, навчає дітей глибокому розумінню хореографії та відкриває яскравий
                потенціал
                дітей, шляхом сумлінної праці та розвитку їх особистості. Дисципліна, сумлінна праця та креативні
                постановки, багаторічний досвід роботи в Україні та за кордоном приносять чудові результати.
            </p>
            <p class="card-text ">
            <h6>Напрями:</h6>
            <p class="m-0">
                Викладач та хореограф
                ⭐️Сучасної хореографії
                ⭐️CONTEMPORARY
                ⭐️MODERN
            </p>
            <p>
            <h6>Освіта:</h6>
            <ul>
                <li>- Закінчила Віницький національний університет ім. Михайла Коцюбинського факультатив (фізичне
                    виховання
                    та спорт)</li>
                <li>- Київський національний університет культури та мистецький факультатив сучасної хореографії</li>
                <li>- Балетмейстер сучасної хореографії стилі: contemporary та modern .</li>
            </ul>
            </p>
            <h6>Досягнення:</h6>
            <p class="m-0">
                Майстер Спорту з акробатики.
            </p>
            </p>
        </div>
    </div>
</div>