<div class="modal-header d-block d-md-none">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="card bg-light">
        <img src="images/coach-team-5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Мельник Сергій Васильович</h5>
            <p>
                Професійний та почесний тренер, суддя вищої кваліфікації тренує та готує чемпіонів.
                Навчає юних бійців самозахисту, техніки, майстерності , поваги, контролю емоцій та гідності.
            </p>
            <p class="card-text ">
            <h6>Напрями:</h6>
            <p class="m-0">⭐️Рукопашний бій</p>
            <h6>Досягнення:</h6>
            <p class="m-0">
                Голова Федерації Рукопашного Бою
                м. Вінниці. Володар 1 Дану.
                Великий багаторічний досвід.
            </p>
            </p>
        </div>
    </div>
</div>